interactions:
- request:
    body: '{"page_number": 1, "page_size": 10, "full_result": false}'
    headers:
      Content-Type:
      - application/json
      X-PW-Application:
      - developer_api
    method: POST
    uri: https://api.prosperworks.com/developer_api/v1/activities/search
  response:
    body:
      string: '[{"id":5624069704,"parent":{"id":17079076,"type":"opportunity"},"type":{"id":3,"category":"system","name":"Stage
        Change"},"user_id":761929,"details":"619565","activity_date":1560340253,"old_value":{"id":2899052,"name":"Qualified"},"new_value":{"id":2899054,"name":"Signed-up"},"date_created":1560340253,"date_modified":1560340253},{"id":5623956946,"parent":{"id":17061530,"type":"opportunity"},"type":{"id":3,"category":"system","name":"Stage
        Change"},"user_id":761929,"details":"619564","activity_date":1560337217,"old_value":{"id":2899047,"name":"Qualified"},"new_value":{"id":2899049,"name":"Signed-up"},"date_created":1560337217,"date_modified":1560337217},{"id":5623844628,"parent":{"id":16880953,"type":"opportunity"},"type":{"id":3,"category":"system","name":"Stage
        Change"},"user_id":761921,"det[...]
