interactions:
- request:
    body: '{"page_size": 10}'
    headers:
      Content-Type:
      - application/json
      X-PW-Application:
      - developer_api
    method: POST
    uri: https://api.prosperworks.com/developer_api/v1/people/search
  response:
    body:
      string: '[{"id":79122712,"name":"Alisa Boiesan","prefix":null,"first_name":"Alisa","middle_name":null,"last_name":"Boiesan","suffix":null,"address":{"street":null,"city":"London","state":"England","postal_code":null,"country":"GB"},"assignee_id":null,"company_id":35113492,"company_name":"Howlader
        \u0026 Co","contact_type_id":1292495,"details":null,"emails":[{"email":"alisa@howladerandco.com","category":"work"}],"phone_numbers":[],"socials":[],"tags":[],"title":null,"websites":[],"custom_fields":[{"custom_field_definition_id":331165,"value":527965}],"date_created":1558819270,"date_modified":1558967969,"date_last_contacted":1558438913,"interaction_count":31,"leads_converted_from":[],"date_lead_created":null},{"id":80037906,"name":"Alla
        Klimenko","prefix":null,"first_name":"Alla","middle_name":null,"last_name":"Klimenko","suffix":null,"address":{"street":"","city":"","state":"","postal_code":"","country":"KZ"},"assignee_id":761929,"company_id":35415319,"company_name":"Mad
        Devs","contact_type_id":1292495,"details":null,"emails":[{"email":"alla@maddevs.io","category":"work"}],"phone_numbers":[],"socials":[{"url":"https://www.linkedin.com/in/alla-klimenko-7aa91b19","category":"linkedin"}],"tags":["google
        campus"],"title":"CEO","websites":[{"url":"https://maddevs.io/","category":"work"},{"url":"https://calendly.com/alla-mad","category":"work"},{"url":"https://maddevs.io/en","category":"work"}],"custom_fields":[{"custom_field_definition_id":331165,"value":527964}],"date_created":1560330599,"date_modified":1560330616,"date_last_contacted":1559932531,"interaction_count":6,"leads_converted_from":[{"lead_id":42704119,"converted_timestamp":1560330599}],"date_lead_created":1560330575},{"id":79131075,"name":"Anne
        Adams","prefix":null,"first_name":"Anne","middle_name":null,"last_name":"Adams","suffix":null,"address":{"street":null,"city":null,"state":null,"postal_code":null,"country":"GB"},"assignee_id":761921,"company_id":35119831,"company_name":"LoudUp","contact_type_id":1292496,"details":"Possible
        Interests: Arts, Music, Singing\n\n","emails":[{"email":"anne@loudup.com","category":"work"}],"phone_numbers":[],"socials":[{"url":"https://twitter.com/loudupofficial","category":"twitter"},{"url":"https://www.facebook.com/loudupofficial","category":"facebook"},{"url":"https://about.me/loudup","category":"other"},{"url":"https://plus.google.com/+Loudup","category":"other"},{"url":"https://instagram.com/loudupofficial","category":"other"},{"url":"https://medium.com/@loudupofficial","category":"other"}],"tags":[],"title":null,"websites":[{"url":"https://www.loudup.com","category":"work"}],"custom_fields":[{"custom_field_definition_id":331165,"value":527963}],"date_created":1558906825,"date_modified":1559289698,"date_last_contacted":1559289574,"interaction_count":11,"leads_converted_from":[],"date_lead_created":null},{"id":79160170,"name":"Ben
        Martin","prefix":null,"first_name":"Ben","middle_name":null,"last_name":"Martin","suffix":null,"address":{"street":"99
        Clifton Street 1st Floor","city":"London","state":"","postal_code":"EC2A 4LG","country":"GB"},"assignee_id":761921,"company_id":35133583,"company_name":"Receipt
        Bank","contact_type_id":1292495,"details":null,"emails":[{"email":"ben.martin@receipt-bank.com","category":"work"}],"phone_numbers":[{"number":"+44
        7990 980695","category":"work"}],"socials":[],"tags":[],"title":"Head of Savings
        - Product","websites":[{"url":"http://www.receipt-bank.com","category":"work"}],"custom_fields":[{"custom_field_definition_id":331165,"value":527964}],"date_created":1558968863,"date_modified":1560180733,"date_last_contacted":1560180426,"interaction_count":64,"leads_converted_from":[{"lead_id":42150966,"converted_timestamp":1558968864}],"date_lead_created":1558968708},{"id":80037243,"name":"Ben
[...]
