interactions:
- request:
    body: '{"page_number": 1, "page_size": 1, "sort_by": "name", "sort_direction":
      "asc", "name": "", "phone_number": "", "emails": "", "assignee_ids": [], "status_ids":
      []}'
    headers:
      Content-Type:
      - application/json
      X-PW-Application:
      - developer_api
    method: POST
    uri: https://api.prosperworks.com/developer_api/v1/leads/search
  response:
    body:
      string: '[{"id":42149375,"name":"Alessio D''Antino","prefix":null,"first_name":"Alessio","last_name":"D''Antino","middle_name":null,"suffix":null,"address":{"street":null,"city":"San
        Francisco","state":"California","postal_code":null,"country":"US"},"assignee_id":761921,"company_name":"Forward
        Fooding","customer_source_id":956007,"details":"Possible Interests: Accounting,
        Adobe Photoshop, Business Development, Business Development \u0026 Partnerships,
        Management, Marketing Management, Microsoft Office, Pricing, Product Development,
        Product Launch, Product Marketing, Sales and Marketing, Training, Wordpress\n\n","email":{"email":"alessio@forwardfooding.com","category":"work"},"interaction_count":2,"monetary_unit":null,"monetary_value":null,"converted_unit":null,"converted_value":null,"socials":[{"url":"https://www.linkedin.com/in/alessiodantino","category":"linkedin"},{"url":"https://twitter.com/visionentrale","category":"twitter"},{"url":"https://www.facebook.com/alessio.dantino","category":"facebook"},{"url":"https://gravatar.com/alessiodantino","category":"gravatar"},{"url":"https://about.me/alessiodantino","category":"other"},{"url":"https://angel.co/alessio-d-antino","category":"other"}],"status":"Unqualified","status_id":968078,"tags":["forward
        fooding"],"title":null,"websites":[{"url":"http://crowdfooding.co","category":"work"}],"phone_numbers":[],"custom_fields":[{"custom_field_definition_id":331165,"value":527964}],"date_created":1558965270,"date_modified":1559714830,"date_last_contacted":1559714639}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-PW-TOTAL:
      - '41'
      X-Rack-CORS:
      - miss; no-origin
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-PW-Application:
      - developer_api
    method: POST
    uri: https://api.prosperworks.com/developer_api/v1/leads/42149375/activities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-PW-TOTAL:
      - '0'
      X-Rack-CORS:
      - miss; no-origin
    status:
      code: 200
      message: OK
version: 1
